Chapter3/ros2_ws/build
Chapter3/ros2_ws/install
Chapter3/ros2_ws/log
Chapter5/ros2_ws/build
Chapter5/ros2_ws/install
Chapter5/ros2_ws/log
Chapter6/ros2_ws/build
Chapter6/ros2_ws/install
Chapter6/ros2_ws/log
Chapter7/ros2_ws/build
Chapter7/ros2_ws/install
Chapter7/ros2_ws/log
Chapter8/ros2_ws/build
Chapter8/ros2_ws/install
Chapter8/ros2_ws/log

**/__pycache__/
**/*.pyc
**/*.pyo
**/.ipynb_checkpoints/

*.mp4
!web/public/data/comma2k19/segment-10.mp4

web/node_modules/
web/dist/
web/.vite/
web/coverage/
web/*.tsbuildinfo

/AutonomousDrivingBook.pdf
